<div class="blog" id="blog-np-<%= blog.id %>">
  <div class="userPic">
    <%= image_tag blog.user.image_url %>
  </div>
  <div class="userInfo">
    <span class="post-user-first_name">
      <%= link_to "javascript:void(0);" do %>
        <%= blog.user.first_name %>
      <% end %>
    </span>
    <span class="post-user-last_name">
      <%= "@#{blog.user.last_name}" %>
    </span>
    <div class="time-stamp-data">
      <%= content_tag :span, class: "blog-timestamp", data: {momentize: blog.momentize, image: image_url("dot-pic.png")}  do %>
      <% end %>
    </div>
  </div>
  <% if blog.user == current_user %>
    <div class="blog-actions" >
        <%= link_to 'Edit', edit_blog_path(blog) %> 
    </div>
  <% end %>
  <div class="blogData">
    <div class="content-blog-text">
      <span class="title">
        <%= blog.name %>
      </span>
      <span class="description">
        <%= blog.description %>
      </span>
    </div>
    <div class="imageData">
      <%= image_tag blog.image_url %>
    </div>
    
  </div>
  <div class="likeAndCommentArea_<%= blog.id %> likeAndCommentArea">
    <%= render "blogs/partials/blog_actions", blog: blog %>
  </div>
</div>