<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <label><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</label>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.text_field :name, autofocus: true, placeholder: 'Enter blog title', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.text_area :description, autocomplete: "off", cols: 50, rows: 15, placeholder: 'Enter blog content here', class: 'form-control' %>
  </div>

  <%= f.fields_for :image , f.object.image_url do |image_form| %>
      <%= image_form.hidden_field :id %>
      <div class="form-group">
        <%= image_form.file_field :attachment, class: "user-interest-image-file form-control" %>
      </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary", data: {disable_with: "Creating..."} %>
  </div>
<% end %>