<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "BloggerApp | Home" %></title>
    <%= render "shared/meta" %>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      
    <%= yield :page_styles %>
    <%= javascript_include_tag 'turbolinks', 'data-turbolinks-eval': 'false' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :page_scripts %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="container mobileOnly">
      <%= yield %>
    </div>
  </body>
</html>
